@import "./variables.css";

body {
  margin: 0px;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background);
  color: var(--normal-text);
}

header {
  background: var(--light-background);
  padding: 1.75rem;
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 2rem;

  h1,
  h1>a {
    margin-block: 0;
    font-size: 1.75rem;
    color: var(--normal-text);
  }

  a {
    font-size: 1.25rem;
  }

  nav {
    display: flex;
    gap: 2rem;
    flex: 1;
    align-items: center;
  }
}

main {
  flex: 1;
  padding: 1rem;

  >h1:first-child {
    margin-block-start: 0;
  }
}

a {
  text-decoration: none;
  color: var(--light-text);
}

product-view {
  flex: 1 1 auto;
}

product-view:last-child:nth-child(odd) {
  max-width: 50%;
}
