<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Flower Store</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlowerSales.Web.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/favicon.svg">
</head>

<body>
    <header>
        <h1><a asp-controller="Home" asp-action="Index">Flower Store</a></h1>
        <nav>
            <a asp-controller="Products" asp-action="Index">Products</a>
        </nav>
        <div>
            <a asp-controller="Home" asp-action="Login">Login</a>
        </div>
    </header>

    <main>@RenderBody()</main>

    <script type="module" src="~/js/account.js"></script>
    <script type="module" src="~/js/components.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
