#products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}

.center-auto {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#next-page,
#prev-page {
  font-size: 60pt;
}
