@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="module" src="~/js/pages/products.js"></script>
}

<h1>Products</h1>
<div id="products-list"></div>
<div class="center-auto">
    <a id="prev-page" href="javascript:void(0)">&lsaquo;</a>
    <span id="page-list"></span>
    <a id="next-page" href="javascript:void(0)">&rsaquo;</a>
</div>
