#product-list:not(:has(.loading)) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}

.center-auto {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  gap: 1rem;

  * {
    align-content: end;
  }
}

#next-button,
#prev-button {
  font-size: 60pt;
  box-shadow: none;
  background-color: unset;
  padding: 0;

  &:disabled {
    pointer-events: none;
  }
}

#page-display {
  font-size: 2rem;
  line-height: 65pt;
}
