@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="module" src="~/js/pages/products.js"></script>
}

<h1>Products</h1>
<div id="product-list"></div>
<div class="center-auto">
    <button id="prev-button" type="button">&lsaquo;</button>
    <span id="page-display"></span>
    <button id="next-button" type="button">&rsaquo;</button>
</div>
