#products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}

.center-auto {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  gap: 1rem;

  * {
    align-content: end;
  }
}

#next-page,
#prev-page {
  font-size: 60pt;
}

#page-list {
  font-size: 2rem;
  line-height: 65pt;
}
